{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/articles.css' %}">
<hr>

<section class="experience-area">

    <div class="flexible-container">

        <div id="element1" class="experience-item" style="float:left; margin-left:5%;">
            <center>
                
                <p>
                    
                    <a href="/asteroids">
                        <img src="{% static 'images/Asteroids.png' %}" width="100" height="100">
                        <font size="20px">
                            <center>
                                ASTEROIDS
                            </center>
                        </font>
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div id="element2" class="experience-item" style="float:left;">
            <center>
                
                <p>
                    
                    <a href="/stars">
                        <img src="{% static 'images/stars.png' %}" width="100" height="100">
                        <font size="20px">
                            <center>
                                STARS
                            </center>
                        </font>
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div id="element3" class="experience-item" style="float:left;">
            <center>
                
                <p>
                    
                    <a href="/pulsars">
                        <img src="{% static 'images/pulsars.png' %}" width="100" height="100">
                        <font size="20px">
                            <center>
                                PULSARS
                            </center>
                        </font>
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div id="element1" class="experience-item" style="float:left; margin-left:5%;">
            <center>
                
                <p>
                    
                    <a href="/dwarf">
                        <img src="{% static 'images/dwarf.png' %}" width="100" height="100">
                        <font size="20px">
                            DWARF PLANETS
                        </font>
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div id="element2" class="experience-item" style="float:left;">
            <center>
                
                <p>
                    
                    <a href="/galaxy">
                        <img src="{% static 'images/galaxy.png' %}" width="100" height="100">
                        <font size="20px">
                            <center>
                                GALAXIES
                            </center>
                        </font>
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div id="element3" class="experience-item" style="float:left;">
            <center>
                
                <p>
                    
                    <a href="/comets">
                        <img src="{% static 'images/comets.png' %}" width="100" height="100">
                        <font size="20px">
                            <center>COMETS
                        </center></font>
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div id="element1" class="experience-item" style="float:left; margin-left:5%;">
            <center>
                
                <p>
                   
                    <a href="/flare">
                        <img src="{% static 'images/flare.png' %}" width="100" height="100">
                        <font size="20px">
                            <center>FLARE STARS</center>
                        </font>
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div id="element2" class="experience-item" style="float:left;">
            <center>
                
                <p>
                    
                    <a href="/meteors">
                        <img src="{% static 'images/meteors.png' %}" width="100" height="100">
                        <font size="20px">
                            <center>METEORS
                        </center></font>
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div id="element3" class="experience-item" style="float:left;">
            <center>
                
                <p>
                    
                    <a href="/natural">
                        <img src="{% static 'images/natural.png' %}" width="100" height="100">
                        <font size="20px">
                            <center>SATELLITES
                        </font>
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div id="element1" class="experience-item" style="float:left; margin-left:5%;">
            <center>
                
                <p>
                    
                    <a href="/nebulae">
                        <img src="{% static 'images/nebulae.png' %}" width="100" height="100">
                        <font size="20px">
                            <center>NEBULAE
                        </center></font>
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div id="element2" class="experience-item" style="float:left;">
            <center>
                
                <p>
                    
                    <a href="/oort">
                        <img src="{% static 'images/oort.png' %}" width="100" height="100">
                        <font size="20px">
                            <center>OORT CLOUD
                        </center></font>
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div id="element3" class="experience-item" style="float:left;">
            <center>
                
                <p>
                    
                    <a href="/planets">
                        <img src="{% static 'images/planets.png' %}" width="100" height="100">
                        <font size="20px">
                            <center>PLANETS
                        </center></font>
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div id="element1" class="experience-item" style="float:left; margin-left:5%;">
            <center>
                
                <p>
                    
                    <a href="/quasars">
                        <img src="{% static 'images/quasars.png' %}" width="100" height="100">
                        <font size="20px">
                            <center>QUASARS
                        </center></font>
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div id="element2" class="experience-item" style="float:left;">
            <center>
                
                <p>
                    
                    <a href="/white">
                        <img src="{% static 'images/white.png' %}" width="100" height="100">
                        <font size="20px">
                            WHITE DWARF STARS
                        </font>
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>








