{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/astropy.css' %}">
<hr>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>

                <p>
                    <a href="/asteroids">
                        <font size="50px" color="white">
                            <center>
                            ASTEROIDS
                            </center>
                        </font>
                    <img src="{% static 'images/Asteroids.png' %}" width="200" height="200">
                    </a>
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>

                <p>
                    <a href="/stars">
                        <font size="50px" color="white">
                            <center>
                            STARS
                            </center>
                        </font>
                    <img src="{% static 'images/stars.png' %}" width="200" height="200">
                    </a>
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>

                <p>
                    <a href="/pulsars">
                        <font size="50px" color="white">
                            <center>
                            PULSARS & MAGNETARS
                            </center>
                        </font>
                    <img src="{% static 'images/pulsars.png' %}" width="200" height="200">
                    </a>
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>

                <p>
                    <a href="/dwarf">
                        <font size="50px" color="white">
                            <center>
                            DWARF PLANETS
                            </center>
                        </font>
                    <img src="{% static 'images/dwarf.png' %}" width="200" height="200">
                    </a>
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>

                <p>
                    <a href="/galaxy ">
                        <font size="50px" color="white">
                            <center>
                            GALAXY
                            </center>
                        </font>
                    <img src="{% static 'images/Galaxy.png' %}" width="200" height="200">
                    </a>
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>

                <p>
                    <a href="/comets">
                        <font size="50px" color="white">
                            <center>
                            COMETS
                            </center>
                        </font>
                    <img src="{% static 'images/comets.png' %}" width="200" height="200">
                    </a>
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>

                <p>
                    <a href="/flare">
                        <font size="50px" color="white">
                            <center>
                            FLARE STARS
                            </center>
                        </font>
                    <img src="{% static 'images/flare.png' %}" width="200" height="200">
                    </a>
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>

                <p>
                    <a href="/meteors">
                        <font size="50px" color="white">
                            <center>
                            METEORS
                            </center>
                        </font>
                    <img src="{% static 'images/meteors.png' %}" width="200" height="200">
                    </a>
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>

                <p>
                    <a href="/natural">
                        <font size="50px" color="white">
                            <center>
                            NATURAL SATELLITES
                            </center>
                        </font>
                    <img src="{% static 'images/natural.png' %}" width="200" height="200">
                    </a>
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>

                <p>
                    <a href="/nebulae">
                        <font size="50px" color="white">
                            <center>
                            NEBULAE
                            </center>
                        </font>
                    <img src="{% static 'images/nebulae.png' %}" width="200" height="200">
                    </a>
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>

                <p>
                    <a href="/oort">
                        <font size="50px" color="white">
                            <center>
                            OORT CLOUD
                            </center>
                        </font>
                    <img src="{% static 'images/oort.png' %}" width="200" height="200">
                    </a>
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>

                <p>
                    <a href="/planets">
                        <font size="50px" color="white">
                            <center>
                            PLANETS
                            </center>
                        </font>
                    <img src="{% static 'images/planets.png' %}" width="200" height="200">
                    </a>
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>

                <p>
                    <a href="/quasars">
                        <font size="50px" color="white">
                            <center>
                            QUASRAS
                            </center>
                        </font>
                    <img src="{% static 'images/quasars.png' %}" width="200" height="200">
                    </a>
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>

                <p>
                    <a href="/white">
                        <font size="50px" color="white">
                            <center>
                            WHITE DWARF STARS
                            </center>
                        </font>
                    <img src="{% static 'images/white.png' %}" width="200" height="200">
                    </a>
                </p>
            </center>
        </div>
    </div>
</section>