{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/article.css' %}">
<hr>

<center>
    <h1>
        <font face="Times New Roman" >
            ASTEROIDS
        </font>
    </h1>
    <h3>
        The Prevailing Fragments of The Solar System’s Genesis 
    </h3>
</center>
<center>
    <section class="experience-area">

        <div class="flexible-container">

            <div id="standard2" class="experience-item">
                <p>
                    “Time travelling to 4.6 billion years in the past”; The largest planet in our solar system, Jupiter, is about to take form. Its creation causes an orbital resonance so strong that a large gap manifests between Jupiter and Mars, and causes multiple, distinct celestial bodies floating around to fragment and form an elliptical ‘belt’ of infinite, planet-like, heavenly bodies, of varied shapes and sizes, together revolving around our star, the Sun.
                </p>
                <p>    
                    “Fast Forward to the present”; These ‘heavenly bodies’, now defined as ‘Asteroids’, are a significant topic of research for astronomers and astrophysicists worldwide.                </p>
                <p>
                    Asteroids, also known as planetoids, are rocky, cratered surfaces, capable of colliding with the Earth and causing damage based on their size and composition. Their size ranges from approximately 2m to 940km. Though a majority of asteroids lie within the asteroid belt, between the inner and outer planets of our solar system, there are many, small clusters of asteroids all around our solar system. ‘The Near-Earth Asteroids (NEA)’ are a group of asteroids that navigate the Earth’s orbit and pose greater threat to the Earth.                </p>
                <p>
                    Spectral classification of asteroids (classification based on composition): • C-Type (Carbonaceous) asteroids: These are the most commonly found asteroids and have gray colorations. • S-Type (Silicaceous) asteroids: These asteroids have green colorations. • M-Type (Metallic) asteroids: These are the most rarely found asteroids and have red colorations. Asteroids are known to preserve their nature for billions of years and can hence, lead us towards obtaining more information about the early stages of the universe. Each and every asteroid is composed of varied, distinguishable features, a result of which the observation, discovery and study of asteroids is remarkably intricate and interesting.
                </p>
                <p>
                    Asteroid Facts:
                    <p>
                        •Ceres, is an asteroid so large, that 
                        it has been classified as a dwarf 
                        planet. 
                    </p>
                    <p>
                        •The 30th of June is globally 
                        observed as ‘Asteroid Day’, 
                        to educate and create 
                        awareness amongst people
                        about asteroids and the 
                        plausible threats they pose 
                        to the Earth.
                    </p>
                    <p>
                        •Some asteroids exist in 
                        binary(double) or triple 
                        asteroid systems. That is, 2 
                        or 3 asteroids, respectively, 
                        orbit a common center.                        
                    </p>
                    <p>
                        •Many asteroids, similar to 
                        planets, have ‘moons’
                        (natural satellites) revolving 
                        around them.                  
                    </p>
                    <p>
                        •Asteroids have been given 
                        distinct symbols, along with 
                        names.                       
                    </p>
                </p>
            </div>
        </div>
    </section>
</center>
<hr>
<hr>
