{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/astropy.css' %}">
<hr>

<h3>
    <center>
        <font color="black">
    Astropy is a collection of software packages written in the Python programming language and designed for use in astronomy. The software is a single, free, core package for astronomical utilities due to the increasingly widespread usage of Python by astronomers, and to foster interoperability between various extant Python astronomy packages. Following are some examples of data collection, analysis, alteration and visualization using Astropy. 
    </font>
</center>
<center>
    <font color="red">
    Click the images for the respective theory and codes.</font>
</center>
</h3>
<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>
                
                <p>
                    <a href="https://github.com/Chinmayeegade/Astropy/blob/main/Analyzing%20Interstellar%20Reddening%20and%20Calculating%20Synthetic%20Photometry%20(Part%201).py">
                        <font size="6px" color="white">
                            <center>
                            Analyzing Interstellar Reddening and Calculating Synthetic Photometry (Part 1)
                            </center>
                        </font>
                    <img src="https://user-images.githubusercontent.com/96294811/148694012-414affc6-6392-4b00-a233-03b427fde6a4.png" width="400" height="200">    
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>
                
                <p>
                    <a href="https://github.com/Chinmayeegade/Astropy/blob/main/Analyzing%20Interstellar%20Reddening%20and%20Calculating%20Synthetic%20Photometry%20(Part%202).py">
                        <font size="6px" color="white">
                            <center>
                            Analyzing Interstellar Reddening and Calculating Synthetic Photometry (Part 2)
                            </center>
                        </font>
                        <img src="https://user-images.githubusercontent.com/96294811/148694041-752a0625-073f-43d6-9279-48f39baca387.png" width="400" height="200">
                        <img src="https://user-images.githubusercontent.com/96294811/148694043-a3958a20-cdfb-4a36-89e1-cecb2ea034d8.png" width="400" height="200">
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>
                
                <p>
                    <a href="https://github.com/Chinmayeegade/Astropy/blob/main/Convert%20a%20Radial%20Velocity%20to%20the%20Galactic%20Standard%20of%20Rest.py">
                        <font size="6px" color="white">
                            Convert a Radial Velocity to the Galactic Standard of Rest
                        </font>
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>
                
                <p>
                    <a href="https://github.com/Chinmayeegade/Astropy/blob/main/Creating%20a%20New%20Coordinate%20Class.py">
                        <center>
                        <font size="6px" color="white">
                            Creating a New Coordinate Class                        
                        </font>
                    </center>
                        <img src="https://user-images.githubusercontent.com/96294811/148694107-042a2478-4c07-4cbc-a686-41ab33bf9f0a.png" width="400" height="200">
                        <img src="https://user-images.githubusercontent.com/96294811/148694109-a23ba780-b9ed-45cb-b6d5-2a8800fa99ef.png" width="400" height="200">
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>
                
                <p>
                    <a href="https://github.com/Chinmayeegade/Astropy/blob/main/Determining%20And%20Plotting%20the%20Altitude%20or%20Azimuth%20of%20a%20Celestial%20Object.py">
                        <font size="6px" color="white">
                            Determining And Plotting the Altitude or Azimuth of a Celestial Object  
                        </font>
                        <img src="https://user-images.githubusercontent.com/96294811/148694138-a8700314-988e-4581-90d0-d4bb64ccf124.png" width="400" height="200">
                        <img src="https://user-images.githubusercontent.com/96294811/148694141-083f72af-ff81-446b-8db8-26a6946a44bd.png" width="400" height="200">
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>

<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>
                
                <p>
                    <a href="https://github.com/Chinmayeegade/Astropy/blob/main/Dust_Extinction%20Average%20Models.py">
                        <center>
                        <font size="6px" color="white">
                            Dust_Extinction Average Models                        
                        </font>
                    </center>
                        <img src="https://user-images.githubusercontent.com/96294811/148694190-45c47101-0fee-4164-9879-37d0da31dd00.png" width="400" height="200">
                        <img src="https://user-images.githubusercontent.com/96294811/148694191-68b4982c-052b-47cb-a4a5-2151365aa3f6.png" width="400" height="200">
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>


<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>
                
                <p>
                    <a href="https://github.com/Chinmayeegade/Astropy/blob/main/Dust_Extinction%20Shape%20Fitting.py">
                        <font size="6px" color="white">
                            <center>Dust_Extinction Shape Fitting </center>                      
                        </font>
                        <img src="https://user-images.githubusercontent.com/96294811/148694216-3119dfc3-6726-4a62-a8e5-9db79453f9d6.png" width="400" height="200">
                        <img src="https://user-images.githubusercontent.com/96294811/148694217-229aacb0-c261-4a15-892a-337839462d62.png" width="400" height="200">
                        <img src="https://user-images.githubusercontent.com/96294811/148694219-06ce9123-ffec-4bb6-8f17-87b28cd2afee.png" width="400" height="200">
        
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>


<section class="experience-area">

    <div class="flexible-container">

        <div  class="experience-item" style="float:center;">
            <center>
                
                <p>
                    <a href="https://github.com/Chinmayeegade/Astropy/blob/main/Read%20and%20Plot%20an%20Image%20from%20a%20fits%20File.py">
                        <font size="6px" color="white">
                            <center>
                            Read and Plot an Image from a fits File 
                            </center>                      
                        </font>
                        <img src="https://user-images.githubusercontent.com/96294811/148694276-9480923e-6378-43e3-8992-add2c3f550a6.png" width="400" height="200">
                    </a> 
                </p>
            </center>
        </div>
    </div>
</section>


<hr>
<h3>
    Credits: Astropy.org
</h3>
<hr>