{% load static %}
<link rel="stylesheet" href="{% static 'styles/homepage.css' %}">
<!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="/">
            <h1><span>STELLAR</span>OPHILEZ<span></span></h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/" data-after="Home">Home</a></li>
            <li><a href="/introduction" data-after="Contact">Introduction</a></li>
            <li><a href="/articles" data-after="Service">Articles</a></li>
            <li><a href="/astropy" data-after="Projects">Astropy</a></li>
            <li><a href="/videos" data-after="About">Videos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

    <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="https://www.bing.com/th?id=OIP.7EUrsg5wSOfNF2k9w3UZdwD6D6&w=99&h=100&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">DARK MATTER<span> AND </span>DARK ENERGY</h1>
        <p>The concept of Dark matter is a fundamental hypothesis regarding the prevalent yet invisible forces in the universe. Multiple astronomical and astrophysical phenomena remain unexplained, and only an additional component of unseen matter, which we call Dark Matter, can prove to be the cause of the cosmos's stability.</p>
        <p>Dark matter is said to comprise more than 25% of the total mass and volume of the universe (more than the entirety of visible aspects on earth and in outer space). Its constituents, properties, and contribution toward the creation and maintenance of life and beyond remain unknown. Researchers assume that some previously unknown subatomic particles or weakly interacting massive particles (WIMPs) make up dark matter. Dark matter is possibly non-baryonic (inability to interact with baryons). Also, this form of matter is presumably invisible owing to its inability to interact with electromagnetic fields. None of the constituents of dark matter possess the potential to absorb, reflect or emit radiations of the visible wavelengths, making it difficult to detect and prove their existence. </p>
        <p>Dark matter has left scientists and astronomers baffled for decades, and hence, many experiments and observations are under process worldwide to detect any traces of Dark Matter.</p>
        <p>The Swiss astronomer Fritz Zwicky first used the term "dark matter" in the 1930s. He studied the so-called Coma galaxy cluster and, specifically, how fast it revolves. Clusters are like merry-go-rounds: Their speed of revolution depends on the weight and position of the objects in the clusters, like the weight of the objects and their positions on a merry-go-round. The speed he measured implied the cluster had much more mass than the observable light suggested.</p>
        <hr>
        <p>Dark Energy is a hypothetical abstraction regarding approximately 70% of the total mass, volume, and energy composition on earth. Dark matter occupies about 25 percent of this composition, thus making you, I, and all the infinite visible objects in the universe part of only 5% of the entire density. The integrants of Dark Energy remain unknown to the world, but evidence to support its theory and existence are ample.</p>
        <p>Ever since the Big Bang took place, the whole universe began constantly expanding. Astronomers presumed that the universe would eventually stop dilating or would at least slow down and achieve a stable center. This presumption considered the presence of gravity and the force it exerts on nature. However, contradictorily, observations revealed that the universe is not only expanding, but the rate of its expansion is perpetually accelerating. That is, the universe is dilating even faster than before. </p>
        <p>So there has to be some force that opposes and is stronger than the gravitational force; this is where the hypothesis of dark energy comes into the spotlight. Dark energy is supposedly a form of energy that exerts a repulsive force that reduces or eliminates gravity, and the expanse of nothingness that meets our eyes when we look into outer space is a streak of energy that we yet are unable to perceive.</p>
        <p>Many high-powered, intricately designed devices are under construction in international research laboratories to find, observe and study the properties and constituents of Dark energy. We hope to one day be able to comprehend how the presence of an unknown force affects the coordinates of spacetime.</p>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>Chinmayee</span> Gade <span></span></h1>
      </div>
    </div>
  </section>
</body>