{% load static %}
<link rel="stylesheet" href="{% static 'styles/homepage.css' %}">
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="/">
            <h1><span>STELLAR</span>OPHILEZ<span></span></h1>
          </a>
        </div>
        <div class="nav-list">
          <a href="/sidebar">
          <div class="hamburger">
            <div class="bar">
          </div>
        </div>
          </a>
          <ul>
            <li><a href="/" data-after="Home">Home</a></li>
            <li><a href="/introduction" data-after="Contact">Introduction</a></li>
            <li><a href="/articles" data-after="Service">Articles</a></li>
            <li><a href="/astropy" data-after="Projects">Astropy</a></li>
            <li><a href="/videos" data-after="About">Videos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

    <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="{% static 'images/dwarf.png' %}">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">DWARF<span> PLANETS</span></h1>
<p>
                    Our solar system comprises eight planets and many much smaller planet-like bodies termed dwarf planets. Dwarf planets are spherical objects which revolve around the sun in elliptical objects, just like planets. Object size and orbital path are the two key factors used to differentiate a planet and a dwarf planet. Dwarf planets are massive enough to be rounded by their gravity but smaller than Mercury. The orbit traversed by a dwarf planet is not void and has copious planetesimals* in its path. These planetesimals often collide with the dwarf planet, causing slight perturbations in its path. Also, dwarf planets have to acquire hydrostatic equilibrium* with their gravity.
                </p>
                <p>
                    Dwarf planets were termed in 2006 when the then ninth planet Pluto was designated as a dwarf. Thus, Pluto formed the prototype for identifying dwarf planets. Dwarf planets may also have natural satellites orbiting them. Presumably, the Kuiper belt comprises many dwarf planets, but only those in the Main Asteroid Belt and the Trans-Neptunian region are classified.
                </p>
                <p>
                    The five main Dwarf Planets
<p>•	Pluto: The prototypical dwarf Pluto lies beyond Neptune. It has five moons, Charon, Styx, Nix, Kerberos, and Hydra, the largest of which Charon is tidally locked with Pluto and forms a binary system with it. Pluto was discovered by Clyde W. Tombaugh in 1930 and was first voyaged by the New Horizons spacecraft in 2015.</p>
<p>•	Haumea : Haumea is an oddly shaped dwarf. Owing to its rapid speed of rotation (approximately 4 hours), it has an ellipsoidal shape. Haumea has two moons, Hi'iaka and Namaka.</p>
<p>•	Ceres: Ceres is the smallest dwarf planet and is surprisingly both a dwarf planet and an asteroid. It lies in the Asteroid Belt and does not have any moons.</p>
<p>•	Eris: Eris is the farthest known dwarf planet. It has one moon named Dysnomia.</p>
<p>•	MakeMake: Makemake is a dwarf planet which lies in the Kupier belt. It has one dicovered moon nicknamed MK2.</p>

                </p>      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>Chinmayee</span> Gade <span></span></h1>
      </div>
    </div>
  </section>
</body>