{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/article.css' %}">
<hr>

<center>
    <h1>
        <font face="Times New Roman" >
            Galaxies
        </font>
    </h1>
</center>
<center>
    <section class="experience-area">

        <div class="flexible-container">

            <div id="standard2" class="experience-item">
                <p>
                    Galaxies, also known as the Building Blocks of the Universe, are infinitely large and massive collections of celestial objects, stellar remnants, dark matter, dust, and dark energy. Simply put, almost every heavenly body is formed or found inside a galaxy. All galaxies have a Supermassive Black Hole and an Active Galactic Nucleus at their center. Each galaxy comprises billions of stars, and almost every star encompasses a solar system. There are an unknown number of galaxies in the universe, and the expanse of space that lies between two galaxies is known as the intergalactic medium. This intergalactic medium is composed thoroughly of ionized hydrogen molecules. The formation of galaxies remains a debatable topic. Galaxies are widely classified based on their appearance and shape.
                </p>
                <p>
                    The three main types of galaxies are:
                </p>
                <p>
                    1.	Spiral Galaxies: Spiral galaxies are disk-like rotating structures with light and dark streaks and patches. For example, Milkyway Galaxy, Pinwheel Galaxy
                </p>
                <p>
                    2.	Elliptical Galaxies: Elliptical galaxies have an ellipsoidal shape and appear smooth and featureless in images. For Example, ESO 325-G004, M59, M60
                </p>
                <p>
                    3.	Irregular Galaxies: as the name suggests, irregular galaxies are chaotic in appearance and do not have and defined shapes or boundaries. For Example, Large and Small Magellanic clouds
                </p>
                <p>
                    The Milkyway Galaxy:
                    Our entire Solar system is a part of the Milkyway galaxy. It gets its name from its appearance in the night sky, a glorified luminous white interminable streak. The Milkyway is a barred spiral galaxy in the Virgo and Lanikea Supercluster with an Active Galactic Nucleus named Sagittarius A* at its center. 
                </p>
                <p>
                    The Andromeda Galaxy:
The galaxy closest to the Milkyway is the Andromeda Galaxy (Messier 31). Previously thought to be a nebula, the Andromeda galaxy is a barred spiral galaxy comprising almost two times more stars than the Milkyway.
                </p>
                <p>
                    GN-z11: GN-z11 is a high-redshift galaxy, the oldest and farthest galaxy yet discovered. It lies in the Ursa Major constellation and was identified via the Hubble space telescope.
                </p>
            </div>
        </div>
    </section>
</center>
<hr>
<hr>
