{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/article.css' %}">
<hr>

<center>
    <h1>
        <font face="Times New Roman" >
            Meteorides-Meteors-Meteorites
        </font>
    </h1>
    <h3>
        "Make a Wish! It's a shooting star!"
    </h3>
</center>
<center>
    <section class="experience-area">

        <div class="flexible-container">

            <div id="standard2" class="experience-item">
                <p>
                    Meteoroids or space rocks are chunks of rock debris floating in outer space. These chunks measure up to a meter wide and are significantly smaller than other astronomical objects. Meteoroids were formed from the fragmentation of comets and asteroids or due to celestial collisions between rocky or metallic surfaces. Almost all meteoroids comprise nickel and extra-terrestrial iron and classify into chondrules, chondrites, and achondrites based on their composition.
                </p>
                <p>
                    Chondrules are results of molten asteroids and differ in composition compared to the parent object. Chondrites, however, show no dissimilarity with the parent object. Achondrites are meteoroids formed due to extra-terrestrial igneous activity and do not contain iron. The most easily observed meteoroids originate in the asteroid belt between Mars and Jupiter.
                </p>
                <p>
                    Innumerable meteoroids frequently enter the Earth's atmosphere at blazing speeds. Coming in contact with the Earth's atmosphere results in aerodynamic heating of these objects, causing them to flare up into luminous glowing spheres followed by a succession of lustrous shattered particles which looks like a tail. These glowing meteoroids, along with their trailing tails, are called meteors or  shooting stars.
                </p>
                <p>
                    Meteors are formed daily, but when the occurrences peak, millions of shooting stars flicker in the night sky every day. Such peak occurrences are called meteor showers. The names of the meteor showers are deduced based on the constellation from where the meteorites supposedly originate.
                </p>
                <p>

Meteors possess slight hues based on their minor composition differences.
•	Orange-yellow meteors constitute sodium
•	Yellow meteors constitute iron
•	Blue-green meteors constitute magnesium
•	Violet meteors constitute calcium
•	Red meteors constitute nitrogen and oxygen
                </p>
                <p>
                    Most meteors don't survive after having entered the Earth's atmosphere and burn down or crumble due to the drastic changes they undergo in atmospheric temperature, composition, and heating, vaporization, and condensation. However, meteors that sustain the changes and do not break down collide with Earth. Once the meteors fall on Earth, they are known as meteorites. Meteorites create impact craters on Earth because of their crashing speed and temperature. Some notable impacts created by meteorites include those at Winslow, Arizona, and Lonar Lake, Maharashtra. Astronomers have also sighted some meteorite made impact craters on Mars and the Moon.
                </p>
            </div>
        </div>
    </section>
</center>
<hr>
<hr>