{% load static %}
<link rel="stylesheet" href="{% static 'styles/homepage.css' %}">
<!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="/">
            <h1><span>STELLAR</span>OPHILEZ<span></span></h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/" data-after="Home">Home</a></li>
            <li><a href="/introduction" data-after="Contact">Introduction</a></li>
            <li><a href="/articles" data-after="Service">Articles</a></li>
            <li><a href="/astropy" data-after="Projects">Astropy</a></li>
            <li><a href="/videos" data-after="About">Videos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

    <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="{% static 'images/meteors.png' %}">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">METEOROIDS-<span>METEORS-</span>METEORITES</h1>
                <p>
                    Meteoroids or space rocks are chunks of rock debris floating in outer space. These chunks measure up to a meter wide and are significantly smaller than other astronomical objects. Meteoroids were formed from the fragmentation of comets and asteroids or due to celestial collisions between rocky or metallic surfaces. Almost all meteoroids comprise nickel and extra-terrestrial iron and classify into chondrules, chondrites, and achondrites based on their composition.
                </p>
                <p>
                    Chondrules are results of molten asteroids and differ in composition compared to the parent object. Chondrites, however, show no dissimilarity with the parent object. Achondrites are meteoroids formed due to extra-terrestrial igneous activity and do not contain iron. The most easily observed meteoroids originate in the asteroid belt between Mars and Jupiter.
                </p>
                <p>
                    Innumerable meteoroids frequently enter the Earth's atmosphere at blazing speeds. Coming in contact with the Earth's atmosphere results in aerodynamic heating of these objects, causing them to flare up into luminous glowing spheres followed by a succession of lustrous shattered particles which looks like a tail. These glowing meteoroids, along with their trailing tails, are called meteors or  shooting stars.
                </p>
                <p>
                    Meteors are formed daily, but when the occurrences peak, millions of shooting stars flicker in the night sky every day. Such peak occurrences are called meteor showers. The names of the meteor showers are deduced based on the constellation from where the meteorites supposedly originate.
                </p>
                <p>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>Chinmayee</span> Gade <span></span></h1>
      </div>
    </div>
  </section>
</body>