{% load static %}
<link rel="stylesheet" href="{% static 'styles/homepage.css' %}">
<!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="/">
            <h1><span>STELLAR</span>OPHILEZ<span></span></h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/" data-after="Home">Home</a></li>
            <li><a href="/introduction" data-after="Contact">Introduction</a></li>
            <li><a href="/articles" data-after="Service">Articles</a></li>
            <li><a href="/astropy" data-after="Projects">Astropy</a></li>
            <li><a href="/videos" data-after="About">Videos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

    <!-- About Section -->
  <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="{% static 'images/natural.png' %}">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">NATURAL <span>SATELLITES</span></h1>
                 <p>
                    Natural Satellites, colloquially known as moons, are heavenly bodies that orbit a specific parent object like a planet, Dwarf planet, asteroid, and in rare cases, even another natural satellite. The most notable example of a natural satellite is our Moon, which in its magnificent grandeur, rarely fails to light up the night sky for us. While the Earth may have only one moon, other planets have been observed to have tens of natural satellites collectively revolving around their parent body, and together encircling the barycentre* of that particular orbital system.
                </p>
                <p>
                    Some famous Natural Satellites:
                </p>
                <p>
Our Moon plays a significant role in harbouring life by moderating the Earth’s wobble on its axis, leading to a relatively stable climate, and creating a tidal rhythm. The Moon also happens to be the first and so far only celestial body stepped upon by humans.
                </p>
                <p>
Named after their first observer, Galileo Galilei, the Galilean Moons are the 4 largest natural satellites of Jupiter. These moons are called lo, Europa, Ganymede, and Callisto (in ascending order of distance from the Jupiter)
                </p>
                <p>
Titan is Saturn's largest natural satellite, and the only known and confirmed celestial body having the presence of stable surface water, low radiation, hydrocarbon seas, availability of Oxygen, and sustainable air pressure could prove to be a habitual land for humans in the decades to come, and hence it is very vital to explore and study this moon.
                </p>
                <p>
                    Enceladus is the sixth-largest moon of Saturn and is covered by clean, white ice, making it one of the most reflective bodies of the Solar System. Enceladus has a wide range of surface features, ranging from old, heavily cratered regions to young, tectonically deformed terrains, such as impact craters, narrow depressions, ridges, plains, sulci (grooves), cliffs, etc
                </p>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>Chinmayee</span> Gade <span></span></h1>
      </div>
    </div>
  </section>
</body>