{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/article.css' %}">
<hr>

<center>
    <h1>
        <font face="Times New Roman" >
            NEBULAE
        </font>
    </h1>
</center>
<center>
    <section class="experience-area">

        <div class="flexible-container">

            <div id="standard2" class="experience-item">
                <p>
                    Nebulae are massive interstellar* clouds comprising primarily dust, plasma, and ionized hydrogen and helium gases. These clouds are either formed from condensed gases in the interstellar medium or the remnants of a supernova*. Most nebulae measure hundreds of light-years in diameter and are visible to the naked eye but have extremely low densities and masses, possibly weighing only a few kilograms.
Apart from being the outcome of a star's death, a nebula is also the region of origin and formation of stars. A nebula's constituent particles are pulled towards its centre by a large central gravitational force of attraction, and the elements eventually clump together, gradually getting bigger and stronger. In due course, this cluster centrally collapses by its gravity and gives rise to a hot core. A new stellar life slowly emerges from this fundamental foundation, and hence nebulae are also known as star nurseries.
                </p>
                <p>
                    Factoids:

The coldest place in our universe is thought to be in the Boomerang nebula. The average temperature there is -272°c.

The largest Nebula in our night sky is the Tarantula Nebula, which can be seen in the constellation Dorado.

The word Nebula originates from Latin; in Latin, Nebula literally means cloud, or fog.

We refer to any nebulae which aren’t in our galaxy as extra-galactic nebulae

                </p>
            </div>
        </div>
    </section>
</center>
<hr>
<hr>