{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/article.css' %}">
<hr>

<center>
    <h1>
        <font face="Times New Roman" >
            Planets
        </font>
    </h1>
    <h3>
        One of which we call 'Home'....
    </h3>
</center>
<center>
    <section class="experience-area">

        <div class="flexible-container">

            <div id="standard2" class="experience-item">
                <p>
                    A planet is a celestial body pulled into an elliptical orbit around a central stellar object due to the stellar object's force of gravitational attraction. Planets are massive enough to be rounded by their self-gravity and rotate around their axis but not large enough to undergo thermonuclear fusion. They often have natural satellites (moons) which revolve around them. Another criterion distinguishing planets is that their revolutionary orbits around the sun are clear of other astronomical bodies (specifically asteroids and planetesimals). Our Solar System is home to eight planets, namely Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, and Neptune, in ascending order of distance from Sun. Planetary bodies found in solar systems other than our own are called exoplanets or extrasolar planets. There currently prevail more than 4000 discovered exoplanets in more than 3000 solar systems.
The Asteroid Belt divides the eight planets of our solar system into inner and outer planets. The inner planets (Mercury to Mars) are known as terrestrial planets because they have a rocky/metallic surface. The outer planets (Jupiter to Neptune) are planets with rings around them and are known as Gas Giants because they barely possess a terrain. All planets except for Venus and Uranus orbit the sun in prograde direction.
                </p>
                <p>Planet Specifications</p>
                <p>Mercury: Smallest planet</p>
                <p>Venus: Brightest and hottest planet | Known as Earth’s sister planet
                <p>Earth: Only astronomical object known to harbour life | 1 Moon</p>
                <p>Mars: Known as the ‘Red Planet’ | Most explored celestial body | Home to the tallest volcano yet discovered: Olympus Mons | 2 Natural Satellites: Phobos and Demios</p>
                <p>Jupiter: Largest planet | The shortest day (Rotation period: 9 hours 55 minutes) | The Great Red Spot: persistent high-pressure region in the atmosphere of Jupiter, producing an anticyclonic storm that is the largest in the Solar System | 79 confirmed natural satellites</p>
                <p>Saturn: Known as the Jewel of the Solar System | Copious Stunning Rings | 82 confirmed natural satellites</p>
                <p>Uranus: Icy planet | 27 confirmed natural satellites</p>
                <p>Neptune: Coldest planet | Strongest surface winds in our solar system | Densest planet | 14 confirmed natural satellites</p>
            </div>
        </div>
    </section>
</center>
<hr>
<hr>