 {% load static %}
<link rel="stylesheet" href="{% static 'styles/homepage.css' %}">

  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
    <div>
        <a href="/">
            <h1>Home <span></span></h1>
        </a>
        <br>
        <br>
        <a href="/introduction">
            <h1>Introduction <span></span></h1>
        </a>
        <br>
        <br>
                <a href="/articles">
            <h1>Articles <span></span></h1>
        </a>
        <br>
        <br>
        <a href="/astropy">
            <h1>Astropy <span></span></h1>
        </a>
                <br>
        <br>
        <a href="/videos">
            <h1>Videos <span></span></h1>
        </a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->
