{% include 'navbar.html' %}
{% load static %}
<hr>
<center>
    <h3>
        GRAVITATIONAL WAVES
    </h3>  
    <video class="tab" width="1000" height="500" controls>Your browser does not support the &lt;video&gt; tag.
        <source src="{% static 'videos/vid  (2).mp4' %}" />
    </video>
</center>
<hr>
<center>
    <h3>
        NEBULAE
    </h3>  
    <video class="tab" width="1000" height="500" controls>Your browser does not support the &lt;video&gt; tag.
        <source src="{% static 'videos/vid  (9).mp4' %}" />
    </video>
</center>
<hr>
<center>
    <h3>
        FLARE STARS
    </h3>  
    <video class="tab" width="1000" height="500" controls>Your browser does not support the &lt;video&gt; tag.
        <source src="{% static 'videos/vid  (7).mp4' %}" />
    </video>
</center>
<hr>
<center>
    <h3>
        BARYCENTER
    </h3>  
    <video class="tab" width="1000" height="500" controls>Your browser does not support the &lt;video&gt; tag.
        <source src="{% static 'videos/vid  (5).mp4' %}" />
    </video>
</center>
<hr>
<center>
    <h3>
        ASTEROIDS
    </h3>  
    <video class="tab" width="1000" height="500" controls>Your browser does not support the &lt;video&gt; tag.
        <source src="{% static 'videos/vid  (4).mp4' %}" />
    </video>
</center>
<hr>
<center>
    <h3>
        THE SUMMER TRIANGLE
    </h3>  
    <video class="tab" width="1000" height="500" controls>Your browser does not support the &lt;video&gt; tag.
        <source src="{% static 'videos/vid  (1).mp4' %}" />
    </video>
</center>
<hr>
<center>
    <h3>
        SCHWARZSCHILD RADIUS
    </h3>  
    <video class="tab" width="1000" height="500" controls>Your browser does not support the &lt;video&gt; tag.
        <source src="{% static 'videos/vid  (3).mp4' %}" />
    </video>
</center>
<hr>
<center>
    <h3>
        OLYMPUS MONS
    </h3>  
    <video class="tab" width="1000" height="500" controls>Your browser does not support the &lt;video&gt; tag.
        <source src="{% static 'videos/vid  (10).mp4' %}" />
    </video>
</center>
<hr>
<center>
    <h3>
        KEPLER'S LAWS OF PLANETARY MOTION
    </h3>  
    <video class="tab" width="1000" height="500" controls>Your browser does not support the &lt;video&gt; tag.
        <source src="{% static 'videos/vid  (8).mp4' %}" />
    </video>
</center>
<hr>
<center>
    <h3>
        OLBER'S PARADOX
    </h3>  
    <video class="tab" width="1000" height="500" controls>Your browser does not support the &lt;video&gt; tag.
        <source src="{% static 'videos/vid  (6).mp4' %}" />
    </video>
</center>
<hr>



