{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/article.css' %}">
<hr>

<center>
    <h1>
        <font face="Times New Roman" >
            White Dwarf Stars
        </font>
    </h1>
</center>
<center>
    <section class="experience-area">

        <div class="flexible-container">

            <div id="standard2" class="experience-item">
                <p>
                    As the end of their lives inch closer, stars eventually degenerate into either neutron stars, black holes, or white dwarf stars. Stellar bodies are required to have an exceedingly high mass to degenerate into black holes or neutron stars, which most do not possess, and hence end up as white dwarfs.
Named by Willem Luyten in 1992, white dwarf stars, also known as degenerate dwarfs, are immensely dense objects with little or almost no nuclear energy left and comparatively low temperatures than other star types. Their high density is because of the electron degeneracy pressure* which holds the star together. The small amount of internal thermal energy that a white dwarf possesses causes it to be faintly luminous and emit a silent white glow, making it nearly impossible to spot a white dwarf with the naked eye. A white dwarf star has a very high temperature when it first forms but gradually cools down over billions of years and starts crystallizing. The outer material of a white dwarf slowly gets expelled, leading to the formation of a planetary nebula. Hypothetically, all white dwarfs will collapse into a cold black dwarf when they completely cool down, but no black dwarf has yet been formed, as the universe is not old enough.
                </p>
                <p>Sirius B is a part of a binary star system in the Canis Major constellation. It is significantly known to be the closest white dwarf and hence the brightest when viewed from Earth.</p>
                <p>40 Eridani B in the tripe star system of 40 Eridani (Eridanus constellation) was the first observed white dwarf. It was discovered by William Herschel in the late 18th century.</p>
            </div>
        </div>
    </section>
</center>
<hr>
<hr>