  
  .experience-item {

    margin-right: 5%;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
    text-align: justify;
    color: white;
    background-image: linear-gradient(purple, tomato);
  }
  
