  
  .experience-item {
    width: 75%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-left: 5%;
    padding-bottom:5%;
    padding-right: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
    text-align: justify;
    color: white;
    background-image: linear-gradient(purple, tomato);
  }
  
